<h1>Add a New Proposal:</h1>
<% if @proposal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

    <ul>
    <% @proposal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @proposal do |f| %>
  <%= f.label :summary %>:
  <%= f.text_field :summary %><br />

  <%= f.label :hypothesis %>:
  <%= f.text_field :hypothesis %><br />

  <%= f.submit %>
<% end %>
