<center>
<h2><%= @proposal.summary%></h2>
</center>
<br>
<div class="container">
  <div class="row">
    <div class="col s4">Hypothesis: <%= @proposal.hypothesis %></div><br>
<div class="col s4">Scientist: <%= @proposal.user.first_name %></div><br>

</div>
</div>

Status: <%= @status %>

<% if logged_in? && current_user == @proposal.user %>
	<% if @proposal.get_status == "Open" %>
		<%= link_to "Set In Progress", change_status_path(@proposal.id), method: :put %>
	<% elsif @proposal.get_status == "Closed" %>
		<%= link_to "Archive Proposal",change_status_path(@proposal.id), method: :put %>
	<% elsif @proposal.get_status == "In progress" %>
		<%= link_to "Close Proposal", change_status_path(@proposal.id), method: :put %>
	<% end %>
<% end %>

Comments:
<br>
<% @proposal.comments.each do |comment| %>
<%=  comment.body %>
<%=  comment.user.last_name %> <br><br>
<% end %>

Add comment to proposal
<%= render partial: 'comments/new', locals: {commentable: @proposal, comment: Comment.new} %>


<%= render :partial => 'experiments/index', :locals => {experiments: @proposal.experiments, proposal: @proposal} %>
