<!DOCTYPE html>
<html>
  <head>
    <title>Lab Experiment Tracker</title>
    <%= csrf_meta_tags %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
    <% if current_user %>
      <%= link_to "Logout", '/logout' %><br>
    <% else %>
      <%= link_to "Login", '/login' %><br>
      <%= link_to "Sign Up", '/signup' %><br>
    <% end %>
    <%= yield %>
  </body>
</html>
