<h1>Sign Up</h1>
<%= form_for :user, url: '/users' do |f| %>
  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Are you a scientist? <%= f.text_field :isScientist %>
  Email: <%= f.text_field :email %>
  Password: <%= f.text_field :password %>
  <%= f.submit "Submit" %>
<% end %>
