<h1><%= @experiment.title %></h1><br>
Scientist: <%= @experiment.scientist.first_name %><br>

<br>
Procedures:
<% @experiment.procedures.each do |procedure| %>
	<%= procedure.body %><br>
<% end %>
<br>
<br>
Observations:
<% @experiment.observations.each do |observation| %>
	<%= observation.body %><br>
<% end %>

<br>
<br>
<% if @experiment.results %>
Results: <%= @experiment.results %><br>
<% end %>

<br>
<br>
<% if @experiment.conclusions %>
Conclusion: <%= @experiment.conclusions %><br>
<% end %>
