<h1><%= @experiment.title %></h1><br>
Scientist: <%= @experiment.scientist.first_name %><br>

<%= button_to "Update your findings!", edit_proposal_experiment(@experiment) %>

<br>
Procedures:
<% @experiment.procedures.each do |procedure| %>
	<%= procedure.body %><br>
<% end %>
<br>
<br>

<h3>Add New Procedure</h3>
<%= render :partial => 'procedures/new', :locals => {experiment: @experiment} %>


Observations:
<%= @experiment.observations.count %>
<%= @experiment.observations.first.comments.count %>
<% @experiment.observations.each do |observation| %>
	<%= observation.body %><br>
	<% observation.comments.each do |comment| %>
		<%=  comment.body %>
		<%=  comment.user %> <br>
	<% end %><br>

	Add comment to observation
	<%= render partial: 'comments/new', locals: {commentable: observation, comment: Comment.new} %>
<% end %>


<% if logged_in? && current_user.isScientist == true %>
	Add new observation to experiment
	<%= render partial: 'observations/new', locals: {observable: @experiment, observation: @observation} %>
<% end %>


<br>
<br>
<% if @experiment.results %>
Results: <%= @experiment.results %><br>
<% end %>

<br>
<br>
<% if @experiment.conclusions %>
Conclusion: <%= @experiment.conclusions %><br>
<% end %>
<br>

Comments:
<br>

<% @experiment.comments.each do |comment| %>
	<%=  comment.body %>
	<%=  comment.user %> <br>
<% end %>


<% if logged_in? == true %>
	Add comment to experiment
	<%= render partial: 'comments/new', locals: {commentable: @experiment, comment: @comment1} %>
<% end %>
