<h1><%= @experiment.title %></h1><br>
Scientist: <%= @experiment.scientist.first_name %><br>

<br>
Procedures:
<% @experiment.procedures.each do |procedure| %>
	<%= procedure.body %><br>
<% end %>
<br>
<br>
Observations:
<%= @experiment.observations.count %>
<%= @experiment.observations.first.comments.count %>
<% @experiment.observations.each do |observation| %>
	<%= observation.body %><br>
	<% observation.comments.each do |comment| %>
		<%=  comment.body %>
		<%=  comment.user %> <br>
	<% end %><br>

<% end %>

Add new observation to experiment
<%= render partial: 'observations/new', locals: {observable: @experiment, observation: @observation} %>

<br>
<br>
<% if @experiment.results %>
Results: <%= @experiment.results %><br>
<% end %>

<br>
<br>
<% if @experiment.conclusions %>
Conclusion: <%= @experiment.conclusions %><br>
<% end %>
<br>

Comments:
<br>

<% @experiment.comments.each do |comment| %>
	<%=  comment.body %>
	<%=  comment.user %> <br>
<% end %>

Add comment to experiment
<%= render partial: 'comments/new', locals: {commentable: @experiment, comment: @comment1} %>
