<div class="container">
<h2><%= @experiment.title %></h2><br>
Scientist: <%= @experiment.scientist.first_name %>
</div>
<br>

<br>
Procedures:
<% @experiment.procedures.each do |procedure| %>
	<%= procedure.body %><br>
<% end %>
<br>
<br>
<h3>Add New Procedure</h3>
<%= render :partial => 'procedures/new', :locals => {experiment: @experiment} %>


Observations:
<%= @experiment.observations.count %>
<%= @experiment.observations.first.comments.count %>
<% @experiment.observations.each do |observation| %>
	<%= observation.body %><br>
	<% observation.comments.each do |comment| %>
		<%=  comment.body %>
		<%=  comment.user %> <br>
	<% end %><br>

	Add comment to observation
	<%= render partial: 'comments/new', locals: {commentable: observation, comment: Comment.new} %>
<% end %>


Add new observation to experiment
<%= render partial: 'observations/new', locals: {observable: @experiment, observation: Observation.new} %>

<br>
<br>
<% if @experiment.results %>
Results: <%= @experiment.results %><br>
<% end %>

<br>
<br>
<% if @experiment.conclusions %>
Conclusion: <%= @experiment.conclusions %><br>
<% end %>
<br>

Comments:
<br>

<% @experiment.comments.each do |comment| %>
	<%=  comment.body %>
	<%=  comment.user %> <br>
<% end %>

Add comment to experiment
<%= render partial: 'comments/new', locals: {commentable: @experiment, comment: Comment.new} %>
